/* earth.css */

.root {
    -fx-background-color: #8B4513; /* Background color */
}

.button {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-background-color: #5D912B; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-insets: 0;/* SaddleBrown color for Earth */
    -fx-border-width: 2px;
    -fx-border-color: #3E1F0F;
    -fx-border-style: solid; /* Darker brown border */
    -fx-text-fill: #fff; /* White text color for contrast */
    -fx-padding: 15 30;
    -fx-border-radius: 10;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(139, 69, 19, 0.3), 15, 0, 0, 0);
    -fx-transition-duration: 0.3s;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #3C6B1E; /* Darker green on hover */
}

.button:pressed {
    -fx-background-color: #29560d; /* Even darker green when pressed */
}

.button:disabled {
    -fx-opacity: 0.7;
}

.button:focus {
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
}
